################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/Catalog/FreeCourse.Services.Catalog/obj
/Services/Catalog/FreeCourse.Services.Catalog/bin/Debug/net5.0
/IdentityServer/FreeCourse.IdentityServer/bin/Debug/netcoreapp3.1
/IdentityServer/FreeCourse.IdentityServer/obj
/Services/PhotoStock/FreeCourse.Services.PhotoStock/bin/Debug/net5.0
/Services/PhotoStock/FreeCourse.Services.PhotoStock/obj
/Services/Basket/FreeCourse.Services.Basket/bin/Debug/net5.0
/Services/Basket/FreeCourse.Services.Basket/obj
/Services/Discount/FreeCourse.Services.Discount/bin/Debug/net5.0
/Services/Discount/FreeCourse.Services.Discount/obj
/Order/FreeCourse.Services.Order.API/bin/Debug/net5.0
/Order/FreeCourse.Services.Order.API/obj
/Order/FreeCourse.Services.Order.Application/bin/Debug/net5.0
/Order/FreeCourse.Services.Order.Application/obj
/Order/FreeCourse.Services.Order.Domain/bin/Debug/net5.0
/Order/FreeCourse.Services.Order.Domain/obj
/Order/FreeCourse.Services.Order.Domain.Core/bin/Debug/net5.0
/Order/FreeCourse.Services.Order.Domain.Core/obj
/Order/FreeCourse.Services.Order.Infrastructure/bin/Debug/net5.0
/Order/FreeCourse.Services.Order.Infrastructure/obj
/Services/Order/FreeCourse.Services.Order.Application/bin/Debug/net5.0
/Services/Order/FreeCourse.Services.Order.Application/obj
/Services/Order/FreeCourse.Services.Order.API/bin/Debug/net5.0
/Services/Order/FreeCourse.Services.Order.API/obj
/Services/Order/FreeCourse.Services.Order.Domain/bin/Debug/net5.0
/Services/Order/FreeCourse.Services.Order.Domain/obj
/Services/Order/FreeCourse.Services.Order.Domain.Core/bin/Debug/net5.0
/Services/Order/FreeCourse.Services.Order.Domain.Core/obj
/Services/Order/FreeCourse.Services.Order.Infrastructure/bin/Debug/net5.0
/Services/Order/FreeCourse.Services.Order.Infrastructure/obj
/Gateways/FreeCourse.Gateway/bin/Debug/net5.0
/Gateways/FreeCourse.Gateway/obj
/Services/FakePayment/FreeCourse.Services.FakePayment/bin/Debug/net5.0
/Services/FakePayment/FreeCourse.Services.FakePayment/obj
/Frontends/FreeCourse.Web/bin/Debug/net5.0
/Frontends/FreeCourse.Web/obj
